body {
  display: block !important;
}

.Menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Menu > .LinkContent {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 338px;
  align-items: center;
}

.Menu > .ButtonContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: 40px;
}


